h3 {
  margin-bottom: 20px;
}

cdk-virtual-scroll-viewport {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 700px;
}

nz-list {
  padding: 24px;
}

::ng-deep .ant-skeleton-paragraph {
  margin-bottom: 0 !important;
}
